p, h2{
  margin: 0;
}
.polo-listar-pagina{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.polo-listar-cabecalho{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 90%
}
.polo-listar-tabela{
  width: 90%;
}
.situacao-check{
  color: green;
}
.situacao-cancel{
  color: red;
}
.icone-acao{
  cursor: pointer;
}